/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// 定義變數
$abril-font: "Abril Fatface", serif;
$Roboto-font: "Roboto", "Noto Sans TC", sans-serif;
$klee-one-font: "Klee One", cursive;
$snow-color: #EDE5D2;
$dark-background: #383431;

@use 'vuetify/styles' with (
  $color-pack: true,
  $typography: (
    'h1': (
      'size': 6rem,
      'weight': 300,
      'line-height': 6rem,
      'letter-spacing': 0.2em
    ),
    'h2': (
      'size': 3.75rem,
      'weight': 300,
      'line-height': 3.75rem,
      'letter-spacing': 0.2em
    ),
    'h3': (
      'size': 2.5rem,
      'weight': 300,
      'line-height': 3.2rem,
      'letter-spacing': 0.2em
    ),
    'h4': (
      'size': 1.8rem,
      'weight': 300,
      'line-height': 2.8rem,
      'letter-spacing': 0.2em
    ),
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.5rem,
      'letter-spacing': 0.2em
    ),
    'body-2': (
      'size': 0.875rem,
      'weight': 300,
      'line-height': 1.25rem,
      'letter-spacing': 0.2em
    )
  )
);

// 全域設定
:root {
  --abril-font: #{$abril-font};
  --roboto-font: #{$Roboto-font};
  --klee-one-font: #{$klee-one-font};
  --snow-color: #{$snow-color};
  --dark-background: #{$dark-background};
}

// 全域類別
.text-abril {
  font-family: var(--abril-font);
}

.text-roboto {
  font-family: var(--roboto-font);
}

.text-klee-one {
  font-family: var(--klee-one-font);
}

.text-snow {
  color: var(--snow-color);
}

.background-dark{
  background-color: var(--dark-background);
}

// 預設樣式
body {
  font-family: var(--roboto-font);
  color: var(--snow-color);
  background-color: var(--dark-background);
}

h1, h2, h3, h4 {
  font-family: var(--abril-font);
}
